body {
  text-align: center;
  color: rgba(29, 48, 49, 0.8);
  font-size: 16px;
  letter-spacing: 1.5px;
  background: url("../images/flavio-gasperini-unsplash.jpeg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
}

.container {
  align-content: center;
  padding: 1%;
  vertical-align: center;
  margin-top: 15%;
  
  overflow: auto;
  min-width: 670px;
  max-width: 670px;
  background: hsl(150, 17%, 98%, 0.97);
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: -1px solid transparent;
  border-color: #78879c;
}

header,
footer {
  font-size: 11px;
  color: #b2cac8;
  letter-spacing: 1px;
}

h1 {
  margin: 3% 10% 1% 10%;
  font-size: 24px;
  letter-spacing: 1.5px;
  color: #121d1e;
}
h2 {
  font-size: 16px;
  display: block;
  margin-bottom: 3%;
}
h3 {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* 3 collom structure */
li {
  list-style-type: none;
}
ul {
  padding: 0;
}
.temp {
  font-size: xx-large;
  padding: 5% 0 5% 0;
  text-align: right;
}
.row {
  margin: 0 auto;
  margin-left: 0;
}
/*celsius fahrenheit buttons*/

.btn-group {
  margin-left: 80%;
  font-family: verdana;
}
.btn-group button {
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #106bf3;
  border: -1px solid transparent;
  color: #fff;
  border-color: #0d6efd;
}
.btn-left {
  border-radius: 50px 0 0 50px;
}
.btn-right {
  border-radius: 0 50px 50px 0;
}
.btn-group button:hover {
  background-color: #0a58ca;
  border-color: #0a53be;
  color: white;
  transition: 500ms;
}
.btn-group button:focus {
  background-color: #0a58ca;
  border-color: #0a53be;
  color: white;
  transition: 550ms ease-in;
  user-select: none;
}
.btn-group button:current {
  background-color: #0a58ca;
  user-select: none;
}

footer a:link {
  color: #a4c3f0;
  text-decoration: none;
}
footer a:visited {
  color: #a4c3f0;
  text-decoration: none;
}
footer a:hover {
  color: #bed8ff;
  text-decoration: underline;
}
footer a:active {
  background-color: #7a95bd;
  text-decoration: none;
}

#entered-city {
  color: rgba(0, 0, 0, 0.4);
}

p {
  padding: 0 20%;
  margin: 5%, 10%;
}
img {
  display: block;
  margin: 0 auto;
  size: 10%;
  width: 85px;
}

.prediction-5dys {
  display: inline-block;
  border-radius: 3px;
  width: 60%;
  padding: 2%;
  margin: 1%;
  margin-top:5px;
  min-width: 637px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding-top: 5px;
}
.daycard {
  display: inline-block;
  align-content: center;
  margin: 1% 2% 1% 2%;
  font-weight: normal;
}
.weekday {
  padding-bottom: 5px;
  font-size: 13.5px;
}
.weather_img {
  display: block;
  margin: 0 auto;
  width: auto;
  line-height: 60px;
}
.coded a {
  color: #b2cac8;
  letter-spacing: 0.5px;
}
